<div class="container p-4 w-50">
  <h1>Stupid Coaching</h1>

  <form action="/answer" data-turbo="false">
    <label>Ask the question you want:</label>
    <div class="input-group mb-3">
      <input type="text" name="answer" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn-primary covering" id="button-addon2">Ask!</button>
    </div>
  </form>
</div>
